@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
    font-family: "Open Sans", sans-serif;
}

.btn-primary {
    border-radius: 8px;
    color: #FFFF;
    font-size: 1.25rem;
    font-weight: 600;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;

}

.text-light-gray {
    color: #727272;

}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}


.banner img {
    margin-top: 20px;
    width: 100%;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}



main {
    max-width: 1440px;
    margin: 70px auto;

}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.5rem;
}

.teames-contanier 
{
    display: flex;
    align-items: center;
}

.teams-title {
    font-size: 2.8rem;
}
.teams-title .t-1
{
   
    font-weight: 500;
}

.teams-title .t-3
{
    color:#FF900E;
    font-weight: 700;
}

.teams-content
{
    padding-left: 70px;
    padding-right: 70px;
}


@media screen and (max-width: 576px) {

    header {
        padding: 20px;
    }

    nav,
    .teames-contanier 
     {
        flex-direction: column;
    }

    .teams-img {
        
        grid-template-columns:  1fr;
       
    }

    .teams-content
{
    padding-left: 50px;
    padding-right: 50px;
}

}

@media screen and (min-width:576px) and (max-width:960px) {

    header {
        padding: 50px;
    }

    nav,
    .teames-contanier  {
        flex-direction: column;
    }

    .teams-content
{
    padding-left: 90px;
    padding-right: 90px;
}


  

}